.menu-link {
    color: black;
    text-decoration: none;
}

.menu-social {
    width: 30px !important;
    height: 30px !important;
}

.menu-link-selected {
    text-decoration: underline !important;
}