.out-link {
    font-weight: bold;
    color: black;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.out-link:hover {
    text-decoration: underline 0.15em rgba(0, 0, 0, 1);
}

.out-link-blue {
    color: #3399ff;
    text-decoration: underline 0.15em rgba(51, 153, 255, 0);
}

.out-link-blue:hover {
    text-decoration: underline 0.15em rgba(51, 153, 255, 1);
}